<div id="digital-academy">
  <div class="section-header text-center">
    <h1>The Forever Curls Digital Membership</h1>
    <h2>Coming Soon!</h2>
  </div>

  <div class='main page-width'>

    <section class='header-wrap'>
      <div class='text'>
        <h3>The Forever Curls Digital Membership is here to teach, inspire, and grow a global community of hairdressers with the best-in-class curl education, curated by Leysa Carrillo.</h3>
      </div>
      <div class='img-container'>
        <img src="https://cdn.shopify.com/s/files/1/0099/7795/4368/files/Launching_2022_1.png?v=1643904385" alt="black and white photo of models"/>
      </div>
    </section>

    <section class='bg-blue box'>
      <p class='white'>Providing stylists with 24/7 access to monthly inspirational, salon-ready education, The Forever Curls Digital Membership will give you unlimited access to how I work behind the chair. Join, and develop your skills as if you’re shadowing me in the salon, to grow your business with develop your confidence!</p>
      <p class='white'>Engage, share and learn with me as I launch my private Instagram community, a 100% online membership, that will cover everything from inspiration and motivation, income growth strategies, and how to build your clientele on social! Get technique-driven content weekly –all while networking and connecting with your curl community around the United States.</p>
      <p class='white'>Access, and learn on your own time– wherever, whenever through the convenience of Instagram. Every week, I will curate exclusive materials and videos to share with the community. Now it’s easier than ever for you to access digital education! Can’t wait to see you there. XO, Leysa!</p>
    </section>

    <section class='categories'>
      <div class='wrap'>
        <h3>Digital Blonding</h3>
        <ul>
          <li class='bg-pink'>Impactful Placement &amp; Trending Techniques</li>
          <li class='bg-pink'>How-to Create Seamless Finish &amp; Growout</li>
          <li class='bg-pink'>Make $$$$ in ONLY One Highlight Service</li>
          <li class='bg-pink'>Learn to Apply Wet Balayage In 15 Minutes!
          </li>
          <li class='bg-pink'>Featuring the BEST Blonding Products for Services!</li>
        </ul>
      </div>
      <div class='wrap'>
        <h3>Digital Color</h3>
        <ul>
          <li class='bg-baby-blue'>Leysa's Favorite Formulas &amp; Application Tips!</li>
          <li class='bg-baby-blue'>Become a Color Expert in ALL Texture Types!</li>
          <li class='bg-baby-blue'>Color Correct with Confidence!</li>
          <li class='bg-baby-blue'>Achieve Predictable Results, Fix Banding &amp; Uneven Color</li>
          <li class='bg-baby-blue'>The BEST products to Prep and Finish the Hair</li>
        </ul>
      </div>
      <div class='wrap'>
        <h3>Digital Cut &amp; Style</h3>
        <ul>
          <li class='bg-yellow'>Level Up your skills &amp; Develop your Confidence</li>
          <li class='bg-yellow'>Make Your Client's Vision a Reality</li>
          <li class='bg-yellow'>Long, Medium, &amp; Short Makeover Haircuts</li>
          <li class='bg-yellow'>Learn the Best Approach for All Curl Types</li>
          <li class='bg-yellow'>The BEST Product Cocktails</li>
        </ul>
      </div>
      <div class='wrap'>
        <h3>Digital Business</h3>
        <ul>
          <li class='bg-navy white'>Guest EXPERT Speakers</li>
          <li class='bg-navy white'>How-to Live a Peaceful &amp; Abundant Life</li>
          <li class='bg-navy white'>Learn How-to Make $2000 in Under 5 Hours!</li>
          <li class='bg-navy white'>Selling Retail Strategies &amp; Tips</li>
          <li class='bg-navy white'>Set Your Income GOALS and Achieve them!</li>
        </ul>
      </div>
      <div class='wrap'>
        <h3>Digital Social Media</h3>
        <ul>
          <li class='bg-brown white'>Guest EXPERT Speakers</li>
          <li class='bg-brown white'>How-to Market yourself on Social Media</li>
          <li class='bg-brown white'>Photography, Video &amp; Editing Techniques</li>
          <li class='bg-brown white'>Gain 5 New Clients a Day on Social</li>
          <li class='bg-brown white'>Attract the Attention of Your Favorite Brands</li>
        </ul>
      </div>
    </section>

    <section class="form-image-wrap">
      <img src='https://cdn.shopify.com/s/files/1/0099/7795/4368/files/digital_academy_photo_2.png?v=1637587765' alt='academy model'/>

      <div class='form-container'>
        <!-- Begin Mailchimp Signup Form -->
        <form action="https://leysahairandmakeup.us20.list-manage.com/subscribe/post?u=b006a29d2b31a3d57f290391a&amp;id=cfe1013c3b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL" class='h3 text-left'>Join our waitlist to be the first to know when enrollment opens!</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address" required>

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div aria-hidden="true">
              <input type="text" name="b_b006a29d2b31a3d57f290391a_cfe1013c3b" tabindex="-1" value="" placeholder='Your name'>
            </div>

            <div class="input">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn">
            </div>
          </div>
        </form>
        <!--End mc_embed_signup-->
      </div>
    </section>

    <section class='policies'>
      <h3 class='h3'>Billing &amp; Payment Policies</h3>
      <p>Membership is an annual or monthly reoccurring paid subscription. Members can cancel membership at any time. No refunds, partial refunds, or pro-rated amounts are offered when canceling. Credit card or PayPal accepted.</p>
      <p>For all billing, payment, or cancellation questions, contact the program administrator, Leysa Carrillo, by opening a
        <a href='mailto:info@forevercurlsbyleysa.com'>Help Desk Ticket</a>.  All billing changes are handled solely by the administrator.</p>
      <p>Sharing, copying, or distributing content from the Forever Curls Digital Membership is strictly prohibited and against the community guidelines. If users break community policies, the community member will be removed, and blocked from the private Instagram group and the subscription will be canceled. No refunds will be issued.</p>
    </section>

    <section class='videos-section' margin='auto'>
      <h3 class='h3'>How-to Register</h3>
      <div class='wrap'>
        <video class='desktop' autoplay playsinline muted width='900px'>
          <source src="https://cdn.shopify.com/s/files/1/0099/7795/4368/files/Digital_Membership_Laptop_Demo.mp4?v=1644267595" type="video/mp4"/>
          Your browser does not support the video tag.
        </video>
      </div>
      <div class='wrap'>
        <video class='mobile' autoplay playsinline muted>
          <source src="https://cdn.shopify.com/s/files/1/0099/7795/4368/files/Digital_Membership_Mobile_Demo.mp4?v=1644268114" type="video/mp4"/>
          Your browser does not support the video tag.
        </video>
      </div>
    </section>

    <section id='da-faq'>
      <h3 class='h3 text-center'>Digital Academy FAQ</h3>
      <div class='content-wrap'>
        <p class='accordion'>Where can I access my Digital Academy account?</p>
        <div class='answer'>
          When signing up you will receive an email containing a link to get acccess to your Moon Clerk account. You can also access the link
          <a href='https://app.moonclerk.com/portal/p27d6j5suav/signin' target="_blank">here</a>
        </div>
      </div>

      <div class='content-wrap'>
        <p class='accordion'>Who can I contact with questions regarding the Digital Academy?</p>
        <div class='answer'>
          All questions can be sent to
          <a href='mailto:info@forevercurlsbyleysa.com' target="_blank">info@forevercurlsbyleysa.com</a>
        </div>
      </div>
    </section>
  </div>
</div>>